body{
    background-color: rgb(238, 234, 173);
    margin: 0;
    position: relative;
}
header, footer{
    background-color: rgb(233, 198, 81);
}
h1{
    margin: 0;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
#list{
    width: 90%;
    border: 2px solid rgb(206, 146, 55);
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000;
}
#container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
#addForm{
    margin-top: 10px;
}